<template>
  <div
    v-show="!loading"
    class="text-no-wrap"
  >
    <template
      v-for="btn in _buttons"
    >
      <template v-if="btn.component">
        <component
          :is="btn.component"
          :key="btn.key"
          :class="_buttonClass"
          v-bind="btn.props || {}"
          v-on="btn.on || {}"
        />
      </template>
      <template v-else>
        <component
          :is="defaultComponent"
          :key="btn.key"
          v-bind="btn"
          :[labelProperty]="btn.label"
          :disabled="loading || (btn.primary && !valid) || btn.disabled"
          :small="btn.small || small"
          :class="_buttonClass"
          :target="!!btn.href && 'blank' || undefined"
          v-on="btn.onClick ?
            {click: defaultAction ?
              () => Promise.resolve(btn.onClick()).then(defaultAction) :
              btn.onClick
            } : {}"
        />
      </template>
    </template>
  </div>
</template>

<script>
  import omit from 'lodash/omit';
  import ButtonDefinitionMixin from '../mixins/ButtonDefinitionMixin';

  export default {
    mixins: [ButtonDefinitionMixin],
    props: {
      buttons: {
        type: Object,
        required: false, //either buttons or unwrapped-buttons are required
        default: () => ({}),
      },
      small: {
        type: Boolean,
        required: false,
        default: false,
      },
      unwrappedButtons: {
        type: Array,
        required: false,
        default: undefined,
      },
      buttonClass: {
        type: String,
        required: false,
        default: () => undefined,
      },
      loading: {
        type: Boolean,
        required: false,
        default: false,
      },
      valid: {
        type: Boolean,
        required: false,
        default: true,
      },
      defaultAction: {
        type: Function,
        required: false,
        default: undefined,
      },
      forceLastPrimary: {
        type: Boolean,
        required: false,
        default() {
          return true;
        },
      },
    },
    computed: {
      _buttons() {
        if (this.unwrappedButtons) return this.unwrappedButtons;
        const unwrapped = this.unwrapButtons(omit(this.buttons, ['defaultAction']));
        return this.forceLastPrimary ? this.lastIsPrimary(unwrapped) : unwrapped;
      },
      _buttonClass() {
        return this.buttonClass || (this.small ? 'ml-2' : 'ml-5');
      },
      Promise: () => Promise,
      // eslint-disable-next-line vue/return-in-computed-property
      defaultComponent() {
        throw new Error('You forgot to overwrite EButtonRow.defaultComponent in your app');
      },
      labelProperty: () => 'label-key',
    },
  };
</script>
