// https://docs.google.com/spreadsheets/d/1GIgN4Zo7W-nISTWGOBKlWL9ZpuZzJRD2C8_VILPSFvM/edit?usp=sharing

@mixin elevations {
  .elevation-1 {
    box-shadow: 0 0.4px 1.8px 0 rgba(0, 0, 0, 0.068) !important;
  }
  .elevation-2 {
    box-shadow: 0 1.0px 3.0px 0 rgba(0, 0, 0, 0.070) !important;
  }
  .elevation-3 {
    box-shadow: 0 1.6px 4.2px 0 rgba(0, 0, 0, 0.072) !important;
  }
  .elevation-4 {
    box-shadow: 0 2.3px 5.4px 0 rgba(0, 0, 0, 0.074) !important;
  }
  .elevation-5 {
    box-shadow: 0 2.9px 6.6px 0 rgba(0, 0, 0, 0.076) !important;
  }
  .elevation-6 {
    box-shadow: 0 3.6px 7.9px 0 rgba(0, 0, 0, 0.079) !important;
  }
  .elevation-7 {
    box-shadow: 0 4.2px 9.1px 0 rgba(0, 0, 0, 0.081) !important;
  }
  .elevation-8 {
    box-shadow: 0 4.9px 10.3px 0 rgba(0, 0, 0, 0.083) !important;
  }
  .elevation-9 {
    box-shadow: 0 5.5px 11.5px 0 rgba(0, 0, 0, 0.085) !important;
  }
  .elevation-10 {
    box-shadow: 0 6.1px 12.7px 0 rgba(0, 0, 0, 0.087) !important;
  }
  .elevation-11 {
    box-shadow: 0 6.8px 13.9px 0 rgba(0, 0, 0, 0.089) !important;
  }
  .elevation-12 {
    box-shadow: 0 7.4px 15.1px 0 rgba(0, 0, 0, 0.091) !important;
  }
  .elevation-13 {
    box-shadow: 0 8.1px 16.4px 0 rgba(0, 0, 0, 0.094) !important;
  }
  .elevation-14 {
    box-shadow: 0 8.7px 17.6px 0 rgba(0, 0, 0, 0.096) !important;
  }
  .elevation-15 {
    box-shadow: 0 9.4px 18.8px 0 rgba(0, 0, 0, 0.098) !important;
  }
  .elevation-16 {
    box-shadow: 0 10.0px 20.0px 0 rgba(0, 0, 0, 0.100) !important;
  }
  .elevation-17 {
    box-shadow: 0 10.6px 21.2px 0 rgba(0, 0, 0, 0.102) !important;
  }
  .elevation-18 {
    box-shadow: 0 11.3px 22.4px 0 rgba(0, 0, 0, 0.104) !important;
  }
  .elevation-19 {
    box-shadow: 0 11.9px 23.6px 0 rgba(0, 0, 0, 0.106) !important;
  }
  .elevation-20 {
    box-shadow: 0 12.6px 24.9px 0 rgba(0, 0, 0, 0.109) !important;
  }
  .elevation-21 {
    box-shadow: 0 13.2px 26.1px 0 rgba(0, 0, 0, 0.111) !important;
  }
  .elevation-22 {
    box-shadow: 0 13.9px 27.3px 0 rgba(0, 0, 0, 0.113) !important;
  }
  .elevation-23 {
    box-shadow: 0 14.5px 28.5px 0 rgba(0, 0, 0, 0.115) !important;
  }
  .elevation-24 {
    box-shadow: 0 15.1px 29.7px 0 rgba(0, 0, 0, 0.117) !important;
  }
}

.evenito.v-application {
  @include elevations;
}
