@import "colors";
$main-font: 'Raleway' !default;
$evenito-font-family: $main-font, sans-serif !important !default;
$body-font-family: $evenito-font-family;
@import '~vuetify/src/styles/styles.sass';

$tagOptions: html, body, h1, h2, h3, h4, h5, h6;
$typographyOptions: text-h1, text-h2, text-h3, text-h4, text-h5, text-h6, headline, title, subtitle-1, subtitle-2, body-1, body-2, caption, overline;

@mixin addons($class) {
  @if $class == title {
    font-size: 18px !important;
    font-weight: 600;
    line-height: 1.2;
  } @else if $class == subtitle-1 {
    font-size: 14px !important;
    font-weight: 600;
    line-height: 1.29;
    text-transform: uppercase;
  } @else if $class == body-1 {
    font-size: 14px !important;
    font-weight: normal;
    line-height: 1.43;
  } @else if $class == body-2 {
    font-size: 12px !important;
    font-weight: normal;
    line-height: 1.5;
  } @else if $class == overline {
    font-size: 10px !important;
    font-weight: 600;
    line-height: 1.6;
    color: $grey-500 !important;
    letter-spacing: 1px !important;
    text-transform: uppercase;
  }
}

.evenito.v-application {
  //------------ modifiers
  .inactive {
    color: $grey-500 !important;
  }

  .faded,
  .disabled {
    color: $grey-600 !important;
  }

  .strong {
    font-weight: 600 !important;
  }

  //------------ typography classes
  @each $option in $tagOptions {
    #{$option} {
      font-family: $body-font-family;
    }
  }

  @each $option in $typographyOptions {
    // %body-1 is for cases when vuetify's bundled typography takes priority over evenito's.
    // Please use normal classes in 99% of a cases. Use placeholderSelectors only if you failed to resolve the conflict
    .#{$option}, %#{$option},  {
      font-family: $body-font-family;
      font-stretch: normal !important;
      font-style: normal !important;
      letter-spacing: normal !important;
      color: black;
      @include addons($option)
    }

    %#{$option}-colorless {
      font-family: $body-font-family;
      font-stretch: normal !important;
      font-style: normal !important;
      letter-spacing: normal !important;
      @include addons($option)
    }
  }

  //------------ components customizations
  a.link {
    color: var(--primary) !important;
    text-decoration: none;
  }
}
